<header class="jumbotron">
  <h1 class="text-center">Cadastrar Fotos</h1>
</header>
<section class="container">
    <mensagem *ngIf="mensagem.texto" [tipo]="mensagem.tipo" [texto]="mensagem.texto"></mensagem>
  <div class="row">
    <form class="col-md-6" (ngSubmit)="salvar()">
      <div class="form-group">
        <label>Título</label>
        <input [(ngModel)]="foto.titulo" type="text" class="form-control" name="titulo">
      </div>
      <div class="form-group">
          <label>URL</label>
          <input [(ngModel)]="foto.url" type="text" class="form-control" name="url">
      </div>
      <div class="form-group">
          <label>Descrição</label>
          <textarea [(ngModel)]="foto.descricao" type="text" class="form-control" name="descricao"></textarea>
      </div>
      <a routerLink="" class="btn btn-secondary">Voltar</a>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <aside class="col-md-4">
      <foto data-foto url={{foto.url}} titulo="{{foto.titulo}}"></foto>
    </aside>
  </div>
</section>