<header class="jumbotron">
    <h1 class="text-center">CaelumPic</h1>
</header>
<section class="container">
    <div class="row">
        <form class="col-md-12">
            <a class="btn btn-primary" routerLink="/cadastro">Nova Foto</a>
        </form>
    </div>
    <div class="row">
        <painel *ngFor="let item of listaFotos" titulo="{{item.titulo}}" class="col-md-4">
            <a [routerLink]="['/cadastro', item._id]">
                <foto url="{{item.url}}" titulo="{{item.titulo}}"></foto>
            </a>   
            <button (click)="remover(item)" class="btn btn-danger">Remover</button>
        </painel>
    </div>
</section>